
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Product-detail
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.2/css/all.css' integrity='sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu' crossorigin='anonymous')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  link(rel='stylesheet' href='/CSS/detail.css')
section#title
  nav.navbar.navbar-expand-md.shadow
    a.navbar-brand(href='#')
      | LOGO
    .input-group
      input.form-control(type='search' placeholder='search' aria-describedby='button2')
      button#button2.btn.btn-custom1(type='button')
        i.fas.fa-search
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars
    #navbarTogglerDemo.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.me-3(href='#')
            i.fas.fa-wallet.fs-5  
            span  Wallet
        li.nav-item.me-3
          a.nav-link(href='#')
            i.fas.fa-clipboard-list.fs-5
            span Booking
        li.nav-item.me-3
          a.nav-link(href='#')
            i.fas.fa-bell.fs-5
            span Notification
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            img.rounded-circle.z-depth-0(src='WhatsApp Image 2020-05-30 at 8.34.11 PM.jpeg' alt='user-image' height='25')
            |                             Arpan Das
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='#') My account
            li
              a.dropdown-item(href='#') Blog
            li
              a.dropdown-item(href='#') Private Policy
            li
              a.dropdown-item(href='#') Terms of uses
            li
              hr.dropdown-divider
            li
              a.dropdown-item(href='#') LOGOUT
section.product-detail
  .container-fluid.mt-5
    .container.shadow.p-2
      .row
        .col-md-6
          .image-box
            img.maid-image1(src=`/img/maids/${maid.photo}` alt=`${maid.name}`)
        #details.col-md-6
          .maid-name
            h4= maid.name
          .Rating-list.d-flex.flex-row
            span.rating-time
              i.fas.fa-star= maid.ratingsAverage
            p= maid.ratingsQuantity
            .box-circle
          .d-flex
            span.fs-6.address1 Address:
            span.ms-2= maid.address1
          .d-flex.mt-2
            span.fs-6.address1 Contact:
            span.ms-2.contact-number
              a(href=`tel:+91 ${maid.phonenumber}`) Call
          .d-flex.mt-2
            span.fs-6.address1 Age:
            span.ms-2.age-number 35
          .d-flex.mt-2
            span.fs-6.address1 Experience:
            span.ms-2.age-number 5 year
          .d-flex.mt-2
            span.fs-6.address1 price:
            span.ms-2.age-number= maid.price
          .d-flex.mt-2.maid-description
            span.fs-6.address1 Description:
            span.ms-2.age-number
              | Maid kese kam karti hai, kya kya kam karti hai ..... 
              span#about-more kitne hours kam kregi Lorem ipsum dolor sit amet consectetur adipisicing elit.
              button#read(type='button' onclick='read()') Read More
          .d-flex.mt-2
            span.fs-6.working1.address1 Current working:
            ul
              li Address1
              li Address2
              li Address3
          .d-flex.mt-1
            span.fs-6.address1 Review:
            .user-image.d-flex.fs-6
              img(src='IMG-20190317-WA0005.jpg' alt='')
            ul.user-detail
              li.user-name Hemant Varshney
              li
                span.rating-time
                  i.fas.fa-star  5
              li
                small she is good at work
          .mt-4
            button#book-maid.btn.btn-custom(data-maid-id=`${maid.id}`) Hire Now
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
script(src='https://js.stripe.com/v3/')
script(src='/js/bundle.js')
script.
  var i=0;
  function read(){
  if(!i){
  document.getElementById("about-more").style.display ="inline";
  document.getElementById("read").innerHTML ="Read less";
  i=1;
  }
  else{
  document.getElementById("about-more").style.display ="none";
  document.getElementById("read").innerHTML ="Read more";
  i=0;
  }
  }
